/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background-color: #f4f6f8;
  color: #222;
}

/* HEADER */
header {
  background-color: #1f3c88;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTENU PRINCIPAL */
main {
  text-align: center;
  margin-top: 80px;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

main p {
  font-size: 1.2rem;
  color: #555;
}
