body {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}
/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background-color: #f4f6f8;
  color: #222;
}

/* HEADER */
header {
  background-color: #1f3c88;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTENU PRINCIPAL */
main {
  text-align: center;
  margin-top: 80px;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

main p {
  font-size: 1.2rem;
  color: #555;
}
/* TITRES */
h1 {
  margin-bottom: 30px;
  color: #1f3c88;
}

h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

/* SECTIONS PROJETS */
section {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* LIENS */
a {
  color: #1f3c88;
}

a:hover {
  opacity: 0.8;
}

