body {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}
/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background-color: #f4f6f8;
  color: #222;
}

/* HEADER */
header {
  background-color: #1f3c88;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}


nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTENU PRINCIPAL */
main {
  text-align: center;
  margin-top: 120px;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

main p {
  font-size: 1.2rem;
  color: #555;
}
/* TITRES */
h1 {
  margin-bottom: 30px;
  color: #1f3c88;
}

h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

/* SECTIONS PROJETS */
section {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* LIENS */
a {
  color: #1f3c88;
}

a:hover {
  opacity: 0.8;
}
button {
  padding: 10px 20px;
  background-color: #1f3c88;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #162d66;
}
html {
  scroll-behavior: smooth;
}
.skill {
  width: 60%;
  margin: 20px auto;
  text-align: left;
}

.bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
}

.progress {
  height: 20px;
  background-color: #1f3c88;
  width: 0;
  border-radius: 20px;
  transition: width 1s ease-in-out;
}

/* Niveaux */
.html { width: 85%; }
.css { width: 80%; }
.js { width: 65%; }
.csharp { width: 70%; }




